<!-- views/partials/nav.ejs -->
<div class="nav-wrapper">
    <a href="#" class="brand-logo left">SYT</a>

    <% if (currentUser) { %>
        <!-- Logout Button -->
        <li class="right">
            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Logout"/>
            </form>
        </li>
        <li>
            <form action="/users" method="GET">
                <input type="submit" value="Favorites">
            </form>
        </li>
        <li class="right">Welcome <%= currentUser.username%>!</li>
    <% } else { %>
        <li class="right">
            <!-- controllers/users_controller.js new route -->
            <a href="/users/new">Sign Up</a>
        </li>
        <li class="right">
            <!-- controllers/users_controller.js new route -->
            <a href="/sessions/new">Log In</a>
        </li>
    <% } %>
</div>