<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <main class="container center-align">
        <h1><%= error.statusCode %> Error</h1>
        <!-- put image here -->
        <h3><%= error.message %></h3>
        <a href="/">Back to Homepage</a>
    </main>
</body>
</html>