<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <h1>Index</h1>
    <a href="/techniques/new">New Technique</a>

    <% moves.forEach((move) => { %>
        <div>
            <a href="/techniques/<%= move.id %>"><h4><%= move.title %></h4></a>
            <p><%= move.notes %></p>
        </div>
    <% }) %>
    
</body>
</html>