<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <!-- Header up here -->
    <nav>
        <% include partials/nav.ejs %>
    </nav>
    <header>
        <img class="header-img" src="https://images.unsplash.com/photo-1520163004802-7aadfcd17529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9" alt="Japanese screen door">
        <div class="header-content">
            <h1 class="title flow-text">Sensei YouTube</h1>
        </div>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large" href="/techniques/new">New</a>
        </div>
    </header>
    <div class="container">
        <!-- This will be in main -->
        <div class="row">
            <% moves.forEach((move) => { %>
                <% const videoId = move.link.split('=')[1]%>
                <div class="col s12 m6 l3">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-img">
                                    <!-- https://stackoverflow.com/questions/2068344/how-do-i-get-a-youtube-video-thumbnail-from-the-youtube-api
                                    Inserting video thumbnail -->
                                <img src="https://img.youtube.com/vi/<%= videoId %>/maxresdefault.jpg" alt="Youtube video thumbnail">
                            </div>
                            <a href="/techniques/<%= move.id %>"><h4><%= move.title %></h4></a>
                            <!-- <p><%= move.notes %></p> -->
                        </div>
                    </div>
                </div>
                <% }) %> 
        </div>
    </div>
    <footer>
        <p>Created for General Assembly's 2019 SEI Stamford Class by Deva Kothandapany</p>
    </footer>
</body>
</html>