<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <nav>
        <% include partials/nav.ejs %>
    </nav>
    <main class="container">
        <h1>New Technique</h1>

        <form action="/techniques" method="POST">
            <label for="title">Title</label>
            <input type="text" name="title" id="title">

            <label for="link">Embed Link</label>
            <input type="text" name="link" id="link">

            <label for="notes">Notes</label>
            <textarea name="notes" id="notes" cols="30" rows="30">Default Notes</textarea>

            <!-- Submit -->
            <input type="submit" value="Create New Technique">
        </form>
        <a href="/techniques">Back to Index</a>
    </main>
</body>
</html>