<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <nav>
        <% include partials/nav.ejs %>
    </nav>
    <main class="container center-align">
        <!-- <h1>New Technique</h1>

        <form action="/techniques" method="POST">
            <label for="title">Title</label>
            <input type="text" name="title" id="title">

            <label for="link">Embed Link</label>
            <input type="text" name="link" id="link">

            <label for="notes">Notes</label>
            <textarea name="notes" id="notes" cols="30" rows="30">Default Notes</textarea> -->

            <!-- Submit -->
            <!-- <input type="submit" value="Create New Technique">
        </form> -->

        <h2>Search for new techniques</h2>

        <form action="/techniques/new" method="POST" id="search-bar">
            <input type="text" id="search" name="search" placeholder="Search Youtube"/>
            <input class="btn" type="submit" value="Search"/>
        </form>



        <div id="search-results" class="row results">
            <% if (results) { %>
                <% results.forEach((foundVideo) => {%>
                    <% const title = foundVideo.snippet.title %>
                    <% const videoId = foundVideo.id.videoId %>
                    <div class="col s12 m6 l4">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="https://img.youtube.com/vi/<%= videoId %>/hqdefault.jpg" alt="Youtube video thumbnail">
                            <div class="card-content">
                                <h5><%= title %></h5>
                            </div>
                            </div>
                        </div>
                    </div>

                <% }) %>
            
            <% } %>
        </div>
    </main>
</body>
</html>