<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <nav>
        <% include partials/nav.ejs %>
    </nav>
    <main class="video-container">
        <iframe src="<%= video %>" frameborder="0" width="250" height="200"></iframe>
    </main>
    <summary class="container">
        <h3><%= move.title %></h3>
        <p><%= move.notes %></p>

        <% if (currentUser) { %>
            <a href="/techniques/<%= move.id %>/edit"><button>Edit Technique</button></a>
        <% } %>
        <a href="/techniques"><button>Back to Index</button></a>
    </summary>
</body>
</html>