<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <h1><%= move.title %></h1>
    <p><%= move.notes %></p>
    <a href="/techniques/<%= move.id %>/edit"><button>Edit Technique</button></a>
    <a href="/techniques"><button>Back to Index</button></a>
</body>
</html>