@import url('https://fonts.googleapis.com/css?family=Ubuntu|Yatra+One');

/* font-family: 'Yatra One', cursive;
font-family: 'Ubuntu', sans-serif; */

* { 
    outline: 1px solid black;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #9bdde9;
}

/*============== Navbar ======================*/
.nav-wrapper {
    background-color: #000;
    padding: 0 10px;
}

nav .brand-logo, nav a {
    color: #fff;
}

nav li {
    list-style-type: none;
    margin-left: 20px;
}

/*=============== Index.ejs =================*/
.title, .brand-logo, .library-header {
    font-family: 'Yatra One', cursive;
}

.title {
    color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
}

/* Header Image */
.header-img {
    width: 100%;
    height: auto;
    position: relative;
    filter: grayscale(100%);
}

/* Header Title */
.header-content {
    position: absolute;
    top: 20%;
    left: 10%;
}

main.container, article.container, header, .library-header {
    background-color: #fff;
}

.library-header {
    margin: 0 auto;
    text-align: center;
    height: 64px;
    line-height: 64px;
}

/* Floating Action Button - Create */
.fixed-action-btn {
    padding-top: 0;
    bottom: 35px;
}

.btn-floating.btn-large {
    /* Override width and height */
    width: 64px;
    height: 45px;
    border-radius: 5px;
}

/* Font in button */
.btn-floating.btn-large i {
    line-height: 45px;
    font-size: 2rem;
}

.btn-floating {
    /* Remove circle shape */
    border-radius: 0;
    background-color: #d24b33;
    
}

/*=========== Row ============*/
.row {
    display: flex;
    flex-flow: row wrap;
}

/***** Card ************/
/* .card-img > img {
    width: 100%;
    height: auto;
} */

.card {
    margin: 5% 0;
    background-color: #d24b33;
}

.card-content > h5 {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

/********** Footer ******************/
footer {
    color: #fff;
    background-color: #000;
    text-align: center;
}

footer > p {
    padding: 20px;
    margin-bottom: 0;
}

.video-container {
    margin: 0 auto;
}

/*========== Form Styling =================*/
/* Navbar inputs */
input.btn.nav-btn {
    color: #fff;
    background-color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

input.btn.nav-btn:hover {
    outline: 1px solid #fff;
    cursor: pointer;
}

/* Add to Favorites form */
form.form-options {
    display: inline-block;
}

/* Sessions login form */
form.log-in {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Search field for youtube videos in new.ejs */
input[type=text]#search {
    width: 50%;
}
/* Submit button */
input.btn {
    background-color: #d24b33;
}

/* Add to library / Remove from favorites */
input.btn-flat, input.btn-remove {
    color: #fff;
    background-color: blue;
}

/*=============== Notes views/show.ejs ======================*/
section.notes-section {
    width: 70%;
    margin: 0 auto;
}

.notes-list {
    background-color: #9bdde9;
    margin-top: 10px;
}

/* Textarea*/
.input-field {
    width: 80%;
}

.note {
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 0 2px;
    background-color: #fff;
}


/*========== Media Queries =============*/
@media (min-width: 601px) {
    .header-content {
        top: 30%;
        left: 15%;
    }
}