@import url('https://fonts.googleapis.com/css?family=Ubuntu|Yatra+One');

/* font-family: 'Yatra One', cursive;
font-family: 'Ubuntu', sans-serif; */

* { 
    outline: 1px solid black;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #ffffd7;
}

/*=============== Index.ejs =================*/
.title, .nav-brand {
    font-family: 'Yatra One', cursive;
}

.title {
    /* font-size: 5rem; */
    color: #fff;
}

.header-img {
    width: 100%;
    height: auto;
    position: relative;
    filter: grayscale(100%);
}

.header-content {
    position: absolute;
    top: 25%;
    left: 25%;
}

.card-img > img {
    width: 100%;
    height: auto;
}

.video-container {
    margin: 0 auto;
}