<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/techniques" class="brand-logo left">SYT</a>
        </div>
    </nav>
    <article class="container center-align">
        <h1>Log In</h1>

        <form class="log-in" action="/sessions" method="POST">
            <!-- <label for="username">Username</label> -->
            <input type="text" name="username" id="username" placeholder="Username">

            <!-- <label for="password">Password</label> -->
            <input type="password" name="password" id="password" placeholder="Password">

            <input class="btn" type="submit" value="Log in">
        </form>
    </article>
</body>
</html>