<!-- form to create new users -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/techniques" class="brand-logo left">SYT</a>
        </div>
    </nav>
    <main class="container center-align">
        <h1>Register Account</h1>

        <form class="log-in" action="/users" method="POST">
            <input type="text" name="username" id="username" placeholder="Username">

            <input type="password" name="password" id="password" placeholder="Password">

            <!-- Sets Admin privledges, uncomment and run when deployed to heroku, then remove -->
            <!-- isAdmin: <input type="checkbox" name="isAdmin" checked/>
            <br> -->
            <input class="btn" type="submit" value="Create User">
        </form>
    </main>
</body>
</html>