<!-- form to create new users -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
    <div class="container">
        <h1>Create a New User</h1>

        <form action="/users" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">

            <label for="password">Password</label>
            <input type="password" name="password" id="password">

            <!-- Sets Admin privledges, uncomment and run when deployed to heroku, then remove -->
            <!-- isAdmin: <input type="checkbox" name="isAdmin" checked/>
            <br> -->
            <input type="submit" value="Create User">
        </form>
    </div>
</body>
</html>